
form{
    display: grid;
    grid-template-columns : 30% 70%;
    grid-template-rows: 1fr;
    gap:0;

}

div:nth-child(2) {
  grid-column: 2/2;
  margin:0;
}

div:nth-child(1) {
  grid-column: 1/2;
  margin:0;
}

div:nth-child(1) img {
  width:90%;
  height: auto;
}

body{
  background-color:rgb(223, 185, 109)
}

label
{
    display: block;
    width: 80px;
    float: left;
}